BasedOnStyle: LLVM
IndentWidth: 2
Standard: c++17
AllowShortEnumsOnASingleLine: true
BreakConstructorInitializers: BeforeComma
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: false
  AfterStruct: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace : true
  AfterControlStatement: false
  AfterFunction: false
  AfterNamespace: false
  AfterClass: false
IndentCaseLabels: true
ColumnLimit: 120
AlignAfterOpenBracket: DontAlign
AlignTrailingComments: false
SpacesBeforeTrailingComments: 2
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^".*'
    Priority:        1
  - Regex:           '^<sway/.*\.hpp>'
    Priority:        2
  - Regex:           '<(catch2|boost|gtest)\/'
    Priority:        3
  - Regex:           '^<.*'
    Priority:        4
    SortPriority:    4
    CaseSensitive:   true
IndentPPDirectives: AfterHash
AlignEscapedNewlines: Left
MacroBlockBegin:
  "^NAMESPACE_BEGIN|\
    NS_BEGIN(.*)|\
    EMSCRIPTEN_BINDING_BEGIN$"
MacroBlockEnd: 
  "^NAMESPACE_END|\
    NS_END|\
    EMSCRIPTEN_BINDING_END$"
Macros:
  - PURE_VIRTUAL(x)=x
  - MTHD_VIRTUAL(x)=x
  - MTHD_OVERRIDE(x)=x
  - MTHD_VIRTUAL_OVERRIDE(x)=x
TypenameMacros:
  - NAMESPACE_BEGIN
  - NAMESPACE_END
  - NS_BEGIN
  - NS_BEGIN_SWAY
  - NS_END
  - NS_SHORT
  - NS_SHORT_SWAY
  - NS_ALIAS
  - NS_ALIAS_SWAY
  - DECLARE_ENUM
  - DECLARE_ENUM_U32
  - DECLARE_ENUM_IDX
  - PURE_VIRTUAL
  - MTHD_VIRTUAL
  - MTHD_OVERRIDE
  - MTHD_VIRTUAL_OVERRIDE
  - DTOR_DEFAULT
  - DTOR_VIRTUAL
  - DTOR_VIRTUAL_DEFAULT
  - DECLARE_SUPERCLASS
  - DECLARE_CLASS_METADATA
  - DECLARE_EVENT
  - DECLARE_EMSCRIPTEN
  - DECLARE_EMSCRIPTEN_BINDING
  - EMSCRIPTEN_BINDING_BEGIN
  - EMSCRIPTEN_BINDING_END
  - TEST
  - TEST_F
AlwaysBreakTemplateDeclarations: true
